<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
    </style>
</head>

<body>
    <h1>Chronic Coder's GE Predictions</h1>

    <label for="items">Choose an item:</label>
    <select id="items"> </select>

    <div id="graphDiv"></div>

    <h3 id="info_text" style="font-weight: bold;">Information about predicted prices (30 minutes forward per time step)</h3>
    <p id="time_text">Last Prediction Time:</p>
    <p id="next_time_text">Next Prediction Time:</p>
    <p id="uni_text">Univariate Model Prediction:</p>
    <p id="multis_text">Multivariate Single-step Model Prediction:</p>
    <p id="multim_text">Multivariate Multi-step Model Prediction:</p>

    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        var nameList = {{ names | tojson }}
        itemSelect = document.getElementById('items');

        for (var key in nameList) {
            itemSelect.options[itemSelect.options.length] = new Option(nameList[key], key);
        }

        var allData = {{ data | tojson }}

        console.log(allData);
        
        var margin = {top: 70, right: 50, bottom: 70, left: 100};
        var svgWidth = 600;
        var svgHeight = 400;
        var graphWidth = svgWidth - margin.left - margin.right;
        var graphHeight = svgHeight - margin.top - margin.bottom;

        var x = d3.time.scale().range([0, graphWidth]);
        var y = d3.scale.linear().range([graphHeight, 0]);

        var xAxis = d3.svg.axis().scale(x)
            .orient("bottom").ticks(10);
        var yAxis = d3.svg.axis().scale(y)
            .orient("left").ticks(12);

        var uniLine = d3.svg.line()
            .x(function(d) { return x(d.Date); })
            .y(function(d) { return y(d.uni); });
        
        var multiSLine = d3.svg.line()
            .x(function(d) { return x(d.Date); })
            .y(function(d) { return y(d.multiS); });

        var multiM1Line = d3.svg.line()
            .x(function(d) { return x(d.Date); })
            .y(function(d) { return y(d.multiM1); });
            
        var realLine = d3.svg.line()
            .x(function(d) { return x(d.Date); })
            .y(function(d) { return y(d.real); });
        
        var svg = d3.select("#graphDiv")
            .append("svg")
                .attr("width", svgWidth)
                .attr("height", svgHeight)
            .append("g")
                .attr("transform", 
                "translate(" + margin.left + "," + margin.top + ")")
 
        function drawGraph(data) {
            // For each row in the data, parse the date
            // and use + to make sure data is numerical
            data.forEach(function(d) {
                d.Date = new Date(d.timestamp * 1000);
                d.uni = +d.uni;
                d.multiS = +d.multiS;
                d.multiM1 = +d.multiM1;
                d.real = +d.real;
            });

            var new_data = [...data];
            var last_row = data[data.length-1]
            
            new_data.push({'Date': new Date(last_row.timestamp * 1000 + 30*60000), 'multiM1':last_row.multiM2})
            new_data.push({'Date': new Date(last_row.timestamp * 1000 + 60*60000), 'multiM1':last_row.multiM3})
            new_data.push({'Date': new Date(last_row.timestamp * 1000 + 90*60000), 'multiM1':last_row.multiM4})
            new_data.push({'Date': new Date(last_row.timestamp * 1000 + 120*60000), 'multiM1':last_row.multiM5})

            // Scale the range of the data
            x.domain(d3.extent(new_data, function(d) { return d.Date; }));
            y.domain([d3.min(new_data, function(d) {
                return Math.min(d.uni, d.multiS, d.multiM1, d.real) }),
                d3.max(new_data, function(d) {
                return Math.max(d.uni, d.multiS, d.multiM1, d.real) })]);

            // Add the uniLine as a green line
            svg.append("path")
                .style("stroke", "green")
                .style("fill", "none")
                .attr("class", "uniline")
                .attr("d", uniLine(data));
            
            // Add the uniLine as a green line
            svg.append("path")
                .style("stroke", "purple")
                .style("fill", "none")
                .attr("class", "realline")
                .attr("d", realLine(data));

            // Add the multiSLine as a blue dashed line
            svg.append("path")
                .style("stroke", "blue")
                .style("fill", "none")
                .style("stroke-dasharray", ("6, 3"))
                .attr("class", "multisline")
                .attr("d", multiSLine(data));

            // Add the multiM1Line as a red dashed line
            svg.append("path")
                .style("stroke", "red")
                .style("stroke-dasharray", ("3, 3"))
                .attr("class", "multimline")
                .attr("d", multiM1Line(new_data));

            // Add the X Axis
            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + graphHeight + ")")
                .call(xAxis)
                .selectAll("text")
                    .attr("y", 0)
                    .attr("x", 9)
                    .attr("dy", ".35em")
                    .attr("transform", "rotate(90)")
                    .style("text-anchor", "start");

            // Add the Y Axis
            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis);

            // Add the text for the "uni" line
            svg.append("text")
                .attr("transform", "translate("+(graphWidth+3)+","+y(data[data.length-1].uni)+")")
                .attr("dy", ".35em")
                .attr("text-anchor", "start")
                .attr("class", "unitext")
                .style("fill", "green")
                .text("uni");
            // Add the text for the "multiM1" line
            svg.append("text")
                .attr("transform", "translate("+(graphWidth+3)+","+y(new_data[new_data.length-1].multiM1)+")")
                .attr("dy", ".35em")
                .attr("text-anchor", "start")
                .style("fill", "red")
                .attr("class", "multiMtext")
                .text("multiM1");
            // Add the text for the "multiS" line
            svg.append("text")
                .attr("transform", "translate("+(graphWidth+3)+","+y(data[data.length-1].multiS)+")")
                .attr("dy", ".35em")
                .attr("text-anchor", "start")
                .style("fill", "blue")
                .attr("class", "multiStext")
                .text("multiS");
            // Add the text for the "real" line
            svg.append("text")
                .attr("transform", "translate("+(graphWidth+3)+","+y(data[data.length-1].real)+")")
                .attr("dy", ".35em")
                .attr("text-anchor", "start")
                .style("fill", "purple")
                .attr("class", "realtext")
                .text("real");
        };

        function updateGraph(data) {
            // For each row in the data, parse the date
            // and use + to make sure data is numerical
            data.forEach(function(d) {
                d.Date = new Date(d.timestamp * 1000);
                d.uni = +d.uni;
                d.multiS = +d.multiS;
                d.multiM1 = +d.multiM1;
                d.real = +d.real;
            });

            var new_data = [...data];
            var last_row = data[data.length-1]

            new_data.push({'Date': new Date(last_row.timestamp * 1000 + 30*60000), 'multiM1':last_row.multiM2})
            new_data.push({'Date': new Date(last_row.timestamp * 1000 + 60*60000), 'multiM1':last_row.multiM3})
            new_data.push({'Date': new Date(last_row.timestamp * 1000 + 90*60000), 'multiM1':last_row.multiM4})
            new_data.push({'Date': new Date(last_row.timestamp * 1000 + 120*60000), 'multiM1':last_row.multiM5})

            // Scale the range of the data
            x.domain(d3.extent(new_data, function(d) { return d.Date; }));
            y.domain([d3.min(new_data, function(d) {
                return Math.min(d.uni, d.multiS, d.multiM1, d.real) }),
                d3.max(new_data, function(d) {
                return Math.max(d.uni, d.multiS, d.multiM1, d.real) })]);

            // Add the uniLine as a green line
            svg.select(".uniline")
                .transition()
                .duration(750)
                .attr("d", uniLine(data));
            
            // Add the uniLine as a green line
            svg.select(".realline")
                .transition()
                .duration(750)
                .attr("d", realLine(data));

            // Add the multiSLine as a blue dashed line
            svg.select(".multisline")
                .transition()
                .duration(750)
                .attr("d", multiSLine(data));

            // Add the multiM1Line as a red dashed line
            svg.select(".multimline")
                .transition()
                .duration(750)
                .attr("d", multiM1Line(new_data));

            // Add the X Axis
            svg.select(".x.axis")
                .transition()
                .duration(750)
                .call(xAxis)
                .selectAll("text")
                    .attr("y", 0)
                    .attr("x", 9)
                    .attr("dy", ".35em")
                    .attr("transform", "rotate(90)")
                    .style("text-anchor", "start");

            // Add the Y Axis
            svg.select(".y.axis")
                .transition()
                .duration(750)
                .call(yAxis);

            // Add the text for the "uni" line
            svg.select(".unitext")
                .transition()
                .duration(750)
                .attr("transform", "translate("+(graphWidth+3)+","+y(data[data.length-1].uni)+")")
            // Add the text for the "multiM1" line
            svg.select(".multiMtext")
                .transition()
                .duration(750)
                .attr("transform", "translate("+(graphWidth+3)+","+y(new_data[new_data.length-1].multiM1)+")")
            // Add the text for the "multiS" line
            svg.select(".multiStext")
                .transition()
                .duration(750)
                .attr("transform", "translate("+(graphWidth+3)+","+y(data[data.length-1].multiS)+")")
            // Add the text for the "real" line
            svg.select(".realtext")
                .transition()
                .duration(750)
                .attr("transform", "translate("+(graphWidth+3)+","+y(data[data.length-1].real)+")")
        };

        function updateInfo(data_dict) {
            document.getElementById("time_text").innerHTML = "Last Prediction Time: <b>" + new Date(data_dict.timestamp * 1000) + "</b>";
            document.getElementById("next_time_text").innerHTML = "Next Prediction Time: <b>" + new Date(data_dict.timestamp * 1000 + 30*60000) + "</b>";
            document.getElementById("uni_text").innerHTML = "Univariate Model Prediction: <b>" + data_dict.uni + "</b>";
            document.getElementById("multis_text").innerHTML = "Multivariate Single-step Model Prediction: <b>" + data_dict.multiS + "</b>";
            document.getElementById("multim_text").innerHTML = "Multivariate Multi-step Model Predictions: <b>" +
                data_dict.multiM1 + ", " + data_dict.multiM2 + ", " + data_dict.multiM3 + ", "+ data_dict.multiM4 + ", "+ data_dict.multiM5 + "</b>";

        }

        // A function that update the chart
        function update(selectedGroup) {
            updateGraph(allData[selectedGroup]);
            updateInfo(allData[selectedGroup][allData[selectedGroup].length-1]);
        }

        drawGraph(allData[0]);
        updateInfo(allData[0][allData[0].length-1]);

        // When the button is changed, run the updateChart function
        d3.select("#items").on("change", function(d) {
            // recover the option that has been chosen
            var selectedOption = d3.select(this).property("value");
            // run the updateChart function with this selected option
            update(selectedOption);
        })
    </script>
</body>
</html>