<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
    </style>
</head>

<body>
    <h1>Chronic Coder's GE Suggestions</h1>

    <form id="money_input">
        <label for="invest">Amount to invest:</label>
        <input type="text" id="invest" name="invest"><br><br>
    </form>

    <div id="suggest_div"> 
        <h2 id="suggest_info_text" style="font-weight: bold;">Suggested item</h2>
        <p id="suggest_text">Don't invest! Either the market is bad or you're poor...</p>
    </div>

    <h2 id="other_suggest_info_text" style="font-weight: bold;"></h2>
    <div id="other_suggest_div">
    </div>

    <br />

    <div id="text_div"> 
        <h3 id="info_text" style="font-weight: bold;">Price predictions and profits</h3>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        var allData = {{ data | tojson }}

        console.log(allData);

        var text_div = document.getElementById("text_div")

        for (var key in allData) {          
            // console.log(key, allData[key]);
            var current_array = allData[key]
            
            var para = document.createElement("p");
            var t = document.createTextNode(key + ": real = " + current_array[0] + ", pred = " + current_array[1] + ", profit = " + current_array[2]); 
            para.appendChild(t); 
            text_div.appendChild(para)
        }

        function GenerateTable(input_array) {
     
            //Create a HTML Table element.
            var table = document.createElement("TABLE");
            table.border = "1";
     
            //Get the count of columns.
            var columnCount = input_array[0].length;
            var header_row = ["Item" , "Amount", "Current Buy Average", "Predicted Buy Average", "Total Profit"]
     
            //Add the header row.
            var row = table.insertRow(-1);
            for (var i = 0; i < columnCount; i++) {
                var headerCell = document.createElement("TH");
                headerCell.innerHTML = header_row[i];
                row.appendChild(headerCell);
            }
     
            //Add the data rows.
            for (var i = 1; i < input_array.length; i++) {
                row = table.insertRow(-1);
                for (var j = 0; j < columnCount; j++) {
                    var cell = row.insertCell(-1);
                    cell.innerHTML = input_array[i][j];
                }
            }
     
            var dvTable = document.getElementById("other_suggest_div");
            dvTable.innerHTML = "";
            dvTable.appendChild(table);
        }
        
        function suggest_item(money){
            var max_profit = 0;
            var best_item = "";
            var best_amount = 0;
            var best_item_curr_price = 0;
            var best_item_pred_price = 0;
            var other_suggestions_dict = {};

            // Go through each item and calculate...
            for (var key in allData) {          
                // how many items can be bought...
                var current_array = allData[key];
                var items_bought = Math.floor(money/current_array[0]);  // round down num items
                
                // and how much profit can be made.
                var profit = items_bought * current_array[2];

                if (profit > max_profit){
                    // console.log("item: " + key + ", amount: " + items_bought + ", profit: " + profit);
                    max_profit = profit;
                    best_item = key;
                    best_amount = items_bought;
                    best_item_curr_price = current_array[0];
                    best_item_pred_price = current_array[1];
                }
                
                if (profit > 0){
                    other_suggestions_dict[key] = [items_bought, current_array[0], current_array[1], profit]
                }
            }

            var no_suggestion = "Don't invest! Either the market is bad or you're poor...";
            document.getElementById('other_suggest_info_text').innerHTML = "";
            
            if (best_item == ""){
                document.getElementById('suggest_text').innerHTML = no_suggestion; 
                var dvTable = document.getElementById("other_suggest_div");
                dvTable.innerHTML = "";
            } else {
                document.getElementById('suggest_text').innerHTML = "Invest in <b>" + best_item + "</b>! Get <b>" + best_amount +
                     "</b> at <b>" + best_item_curr_price + "</b> each (buy average) and sell later at <b>" + best_item_pred_price + "</b> for a profit of <b>" + max_profit + "</b>."; 
                
                delete other_suggestions_dict[best_item];
                //console.log(other_suggestions_dict);

                if (Object.keys(other_suggestions_dict).length !== 0){
                    document.getElementById('other_suggest_info_text').innerHTML = "Other suggestions";

                    table_array = [];
                    // List all other profitable items
                    for (var other in other_suggestions_dict) { 
                        current_other_array = [other];
                        current_other_array.push(...other_suggestions_dict[other])
                        table_array.push(current_other_array)
                    }

                    GenerateTable(table_array);
                } else {
                    var dvTable = document.getElementById("other_suggest_div");
                    dvTable.innerHTML = "";
                }

            }
        }

        var invest_input = document.getElementById("invest");
        invest_input.onkeyup = function() {
            suggest_item(invest_input.value);
        }
    </script>
</body>
</html>